
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="header">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-6">
                            <h2>Ordem de Serviço</h2>
                        </div>
                    </div>
                </div>
                <div class="body table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Nº OS</th>
                                <th>Status</th>
                                <th>Data/Hora Atendimento</th>
                                <th>Veículo</th>
                                <th>Motorista</th>
                                <th>Celular</th>
                                <th>Unidade</th>
                                <th>Passageiro</th>
                                <th>Local de Saída</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="os in ordemservico">
                                <td>
                                    <input type="checkbox" name="" value="">
                                </td>
                                <td>{{os.id}}</td>
                                <td>{{os.statusOrdemServicoId}}</td>
                                <td>{{os.dtSolicitacao | date: 'dd/MM/yyyy'}}</td>
                                <td>{{os.veiculo.placa}}</td>
                                <td>{{os.motorista.nome}}</td>
                                <td>{{os.unidadeId}}</td>
                                <td>{{os.localSaida}}</td>
                                <td>{{os.passageiro}}</td>
                                <td>{{os.localSaida}}</td>
                                <td>
                                    <a href="javascript:void(0);" ng-click="editarOs(os)" data-toggle="modal" data-target="#OrdemModal" class="waves-effect waves-block"><i class="material-icons">create</i></a>
                                    <a href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">delete_sweep</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary waves-effect m-r-20" data-toggle="modal" data-target="#OrdemModal">Adicionar Veículo</button>

                    <!-- Modal Ordem -->

                    <div class="modal fade in" id="OrdemModal" tabindex="-1" role="dialog">
                        <div style="visibility: hidden; opacity: 0; position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: -1;" ng-click="clearCamps();" class="ordem-modal"></div>
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <form name="ordemServicoForm" id="frm_create_ordem">
                                    <div class="modal-header">
                                        <button type="button" data-dismiss="modal" class="close" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title">
                                            <span>Criar Nova Ordem de Serviço</span>
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                      <ul class="nav nav-tabs tab-nav-right" role="tablist">
                                        <li role="presentation"><a ng-click="setUserPage()" data-toggle="tab">Ordem de Serviço</a></li>
                                        <li role="presentation"><a ng-click="setAdminPage()">Admin Only</a></li>
                                      </ul>
                                        <div class="tab-content" >
                                        <div role="tabpanel" ng-if="pag==1" class="tab-pane active animated fadeIn" id="detalhesdousuario">
                                                <div class="row clearfix" style="margin-top:10px;">
                                                    <div class="col-sm-6">
                                                        <div class="form-group form-float">
                                                            <div  class="form-line disable">
                                                                <input id="reserva" ng-model="ordemservico.id" type="text" name="numeroReserva" ng-disabled="pag==1" required maxlength="32" class="validate form-control">
                                                                <label for="reserva" class="form-label">Numero Reserva *</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group form-float">
                                                            <div class="input-field form-line">
                                                                <select class="form-control" name="statusOrdemServicoId">
                                                                  <option  ng-repeat="ordem in statusordem">{{ordem.nome}}</option>
                                                                </select>
                                                                <label class="form-label" for="">Selecione Status da Ordem de Serviço</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row clearfix" style="margin-top:10px;">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <span>Data Saida*</span>
                                                                <input class="form-control" value="{{ordemservico.dtSaida | date: 'yyyy-MM-dd'}}"type="date" name="" value="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <div  class="form-line">
                                                                <span>Data Solicitação</span>
                                                                <input class="form-control" type="date" name="" ng-disabled="pag==1" value="{{ordemservico.dtSaida | date: 'yyyy-MM-dd'}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row clearfix" style="margin-top:10px;">
                                                    <div class="col-sm-6">
                                                        <div class="form-group form-float">
                                                            <div  class="form-line disable">
                                                                <input id="hrSolicitacao" type="text" value="{{ordemservico.dtSolicitacao | date: 'hh:mm'}}" name="hrSolicitacao" ng-disabled="pag==1" required maxlength="32" class="validate form-control">
                                                                <label for="hrSolicitacao" class="form-label">Hora da Solicitação *</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group form-float">
                                                            <div  class="form-line">
                                                                <input id="hrSaida" value="{{ordemservico.dtSaida | date: 'hh:mm'}}" type="text" name="hrSaida" required maxlength="32" class="validate form-control">
                                                                <label for="hrSaida" class="form-label">Hora Saida *</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row clearfix" style="margin-top:10px;">
                                                    <div class="col-sm-6">
                                                        <div class="form-group form-float">
                                                            <div  class="form-line">
                                                                <select class="form-control" name="Departamento">
                                                                  <option  ng-repeat="departamento in departamentos" value="{{departamento.id}}">{{departamento.nome}}</option>
                                                                </select>
                                                                <label class="form-label" for="">Departamento</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group form-float">
                                                            <div  class="form-line">
                                                                <select class="form-control" name="unidadeId">
                                                                    <option  ng-repeat="unidade in unidades" value="{{unidade.id}}">{{unidade.nome}}</option>
                                                                </select>
                                                                <label class="form-label" for="">Unidade</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row clearfix" style="margin-top:10px;">
                                                    <div class="col-sm-6">
                                                        <div class="form-group form-float">
                                                            <div  class="form-line">
                                                                <input id="ramal" type="text" name="ramal" required maxlength="32" class="validate form-control">
                                                                <label for="ramal" class="form-label">Ramal *</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group form-float">
                                                            <div  class="form-line">
                                                              <input id="fabricante" type="text" name="passageiro" required maxlength="32" class="validate form-control">
                                                              <label for="fabricante" class="form-label">Passageiro *</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row clearfix" style="margin-top:10px;">
                                                  <div class="col-sm-6">
                                                      <div class="form-group form-float">
                                                          <div  class="form-line disable">
                                                              <input id="usuarioSolicitante" type="text" name="usuarioSolicitante" ng-disabled="pag==1" required maxlength="32" class="validate form-control">
                                                              <label for="usuarioSolicitante" class="form-label">Usuario Solicitante *</label>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-sm-6">
                                                      <div class="form-group form-float">
                                                          <div  class="form-line">
                                                              <select class="form-control" name="Diretoria">
                                                                  <option  ng-repeat="diretoria in diretorias" value="{{diretoria.id}}">{{diretoria.nome}}</option>
                                                              </select>
                                                              <label class="form-label" for="">Diretoria</label>
                                                          </div>
                                                      </div>
                                                  </div>
                                                </div>
                                                <div class="row clearfix" style="margin-top:10px;">
                                                    <div class="col-sm-6">
                                                        <div class="form-group form-float">
                                                            <div  class="form-line">
                                                                <input id="endrDestino" type="text" name="endrDestino" required maxlength="32" class="validate form-control">
                                                                <label for="endrDestino" class="form-label">Endereço Destino do Usuário Solicitante *</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group form-float">
                                                            <div  class="form-line">
                                                                <input id="fnServico" type="text" name="fnServico" required maxlength="32" class="validate form-control">
                                                                <label for="fnServico" class="form-label">Finalidade do Serviço *</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <div role="tabpanel" ng-if="pag==2" class="tab-pane active animated fadeIn" id="adminonly">
                                        <div class="row clearfix" style="margin-top:10px;">
                                            <div class="col-sm-6">
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        <select class="form-control" name="Motorista">
                                                              <option ng-repeat="motorista in motoristaObj" value="{{motorista.id}}">{{motorista.nome}}</option>
                                                        </select>
                                                        <label class="form-label" for="">Nome do Motorista</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        <select ng-model="veiculo" ng-options="veiculos as veiculos.placa for veiculos in veiculoObj" class="form-control" name="Departamento"></select>
                                                        <label class="form-label" for="">Placa</label>
                                                    </div>
                                                </div>
                                            </div>
                                          </div>
                                          <div class="row clearfix" style="margin-top:10px;">
                                              <div class="col-sm-6">
                                                  <div class="form-group form-float">
                                                      <div  class="form-line disable">
                                                          <input id="modelo" type="text"ng-model="veiculo.modelo" ng-disabled="pag==2" name="Modelo" required maxlength="32" class="validate form-control">
                                                          <label for="modelo" class="form-label">Modelo *</label>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-sm-6">
                                                  <div class="form-group form-float">
                                                      <div class="form-line">
                                                          <select class="form-control" name="Departamento">
                                                              <option>
                                                              </option>
                                                          </select>
                                                          <label class="form-label" for="">Tipo Veiculo</label>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="row clearfix" style="margin-top:10px;">
                                            <div class="col-sm-6">
                                                <div class="form-group form-float">
                                                    <div class="form-line disable">
                                                        <select ng-disabled="pag==2" class="form-control" name="Departamento">
                                                            <option>
                                                            </option>
                                                        </select>
                                                        <label class="form-label" for="">Confirmado Por</label>
                                                    </div>
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button data-dismiss="modal" type="button" class="btn btn-default waves-effect">
                                            Cancelar
                                        </button>
                                        <button type="submit" class="btn btn-primary waves-effect">
                                            Agendar OS
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Fim Modal OS -->

                </div>
            </div>
        </div>
